$fontCustomColor: rgb(48, 54, 31);

$numPages:5; //numero de paginas de l

$customColor: #b2dfdb  ;

$linksColor: #4db6ac  ;

$customColor1: rgb(231, 214, 204);

$bgCustomColor: rgb(237, 244, 255) ;

$rad-img-box:10px;

$rad-img:0px;